*{
    outline: 1px solid pink;
}
body{
    margin: 0;
    padding: 0;
    font-size: sans-serif;    
}
.text-center h1
{
    color: white;
}
.container-fluid
{
    background: #d8d8c8;  
}
.menu h1
{
    color: black;
}
/*--------------------------------------header---------------------------------------*/
header{
    background-color: #f8f8f8;
}
header h2, a{
    color: #b1a79e;
}
header .navbar{
    margin-bottom: 0;
    text-align: center;
}

/*--------------------------------------sectionh hero---------------------------------------*/
#hero{
    background-image: url(../img/home.jpg);
    background-size: cover;
    height: 450px;
    text-align: center;
    color: white;
    width: 100%;
}
h1{
  margin-top: 180px;  
}
p{
    color: black;
}
#hero button, #hackathon button, #formulario button{
    border-radius: 5%;
    border: 1px solid #337ab7;
    background-color: #337ab7;
    padding: 0.7%;
    width:100px;
    font-size: 100%;
}
#hero button:hover{
   background-color: deepskyblue;
}


.amarillo
{
    background: yellow;
    padding: 3%;
    margin: 2%;
}
footer
{
    background: cadetblue;
    color: white;
    padding:10px
}
footer spam
{
    color: yellow;
}

@media screen and (min-width:768px) and (max-width:992px)
{
    #hackathon {padding: 30px;}
   
}
@media screen and (max-width:768px)
{
    .navbar ul li:hover{background-color:#337ab7;}
    header a{color: white;}
    .navbar-brand{color: #b1a79e;}
    #hackathon {padding: 20px 0;}
}
@media screen and (max-width:630px){
    .hidden-xs
    {
      display: none;
        
    }
    .container-fluid i
    {
        display: inline-block;
        float: right;
        color: white;
        font-size: 50px;
        
    }
    
}
    
