
body{
    margin: 0;
    padding: 0;
    font-size: sans-serif;    
}
.text-center h1
{
    color: white;
}
.container-fluid
{
    background: #d8d8c8;  
}

/*--------------------------------------header---------------------------------------*/

header h1 
{
    color:black ;
}


/*--------------------------------------sectionh hero---------------------------------------*/

/*--------- Header */
header
{
    background: url(../img/home.jpg);
    background-size: cover;
    
}
nav li a{
    display: block;
    padding: 15px 15px;
    transition: all 0.2s;
    border-radius: 6px;
}
nav li a:hover, nav li a:focus{
    text-decoration: none;
    outline: none;
    background: #FFF;
}
#main-navigation
{
    z-index: 1;
    position: absolute;
    right: 10px;
    margin: 10px 0 0 0;
}
#main-navigation ul
{
   
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}
.frase h2
{
    color: white;
}
.frase
{
    margin: 100px 0;
    text-align: center;
}
.tapita-azul
{
   
    padding-top: 10px ;
}

.amarillo
{
    background: yellow;
    padding: 3%;
    margin: 2%;
}
footer
{
    background: cadetblue;
    color: white;
    padding:10px
}
footer spam
{
    color: yellow;
}

@media screen and (min-width:768px) and (max-width:992px)
{
    #hackathon {padding: 30px;}
   
}
@media screen and (max-width:768px)
{
    .navbar ul li:hover{background-color:#337ab7;}
    header a{color: white;}
    .navbar-brand{color: #b1a79e;}
    #hackathon {padding: 20px 0;}
}
@media screen and (max-width:630px){
    .hidden-xs
    {
      display: none;
        
    }
    .container-fluid i
    {
        display: inline-block;
        float: right;
        color: white;
        font-size: 50px;
        
    }

    
}
    
